<configuration>
    <!-- Console appender configuration -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set logging level for specific package -->
    <logger name="za.co.protogen" level="DEBUG"/>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
